@import url('https://fonts.googleapis.com/css2?family=KoHo:ital@1&family=Montserrat&display=swap');

:root{
--f-style: 'KoHo', sans-serif;
--f-normal: 'Montserrat', sans-serif;

--white:#fff;
--black:#000;
--red:#ff0000;
--cyan:#00ffff;
--darkcyan:#00d6d6;
}

*{
   padding:0;
   margin:0;
   box-sizing:border-box;
   text-decoration:none;
 } 
::selection{
  background:var(--red);
  color:var(--white);
}
.section{
   position:relative;
   height:100vh;
   width:100%;
   background:var(--white);
   color:var(--black);
   border-bottom:3px solid var(--darkcyan);
 }
.center{
   display:flex;
   align-items:center;
   justify-content:center;
   flex-direction:column;
 }
button{
  padding:9px;
  background:var(--white);
  color:var(--black);
  border-radius:10px;
  border:2px solid var(--black);
  transition:0.3s linear;
  box-shadow:0 0 2px var(--black);
}
button:hover{
  background:var(--black);
  color:var(--white);
}
a:hover{
  color:var(--red);
}
h2{
  position:absolute;
  top:18px;
  left:50%;
  transform:translateX(-50%);
  font-size:2rem;
  text-align:center;
}
header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px;
  font-size:17px;
  font-weight:600;
  letter-spacing:3px;
  background:var(--white);
  box-shadow:0 3px 15px #171c1e;
  color:var(--darkcyan);
  z-index:999;
    font-family:var(--f-normal);
}
 a{
  font-size:19;
  color:var(--black);
}

span,
.btns,
.reset-btn{
  margin:20px;
}

span
{
  font-weight:1000;
  font-size:65px;
}

.red{
  color:#ff0000;
}
.green{
  color:#51ff00;
}

.disp-area{
  color:#019bd8;
}