@import url('https://fonts.googleapis.com/css2?family=KoHo:ital@1&family=Montserrat&display=swap');

:root{
  
--f-style: 'KoHo', sans-serif;
--f-normal: 'Montserrat', sans-serif;
--white:#fff;
--black:#000;
--red:#ff0000;
--cyan:#00ffff;
--darkcyan:#00d6d6;

}
*{
   padding:0;
   margin:0;
   box-sizing:border-box;
   text-decoration:none;
 } 
::selection{
  background:var(--red);
  color:var(--white);
}
.section{
   position:relative;
   height:100vh;
   width:100%;
   background:var(--white);
   color:var(--black);
   border-bottom:3px solid var(--darkcyan);
 }
.center{
   display:flex;
   align-items:center;
   justify-content:center;
   flex-direction:column;
 }
button{
  padding:15px;
  background:var(--black);
  color:var(--white);
  border-radius:15px;
  border:none;
  box-shadow:0 0 3px #131313,
             0 0 4px #222222;
}
button:hover{
  color:var(--darkcyan);
}
a:hover{
  color:var(--red);
}
h2{
  position:absolute;
  top:18px;
  left:50%;
  transform:translateX(-50%);
  font-size:2rem;
  text-align:center;
}
header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px;
  font-size:17px;
  font-weight:600;
  letter-spacing:3px;
  font-family:Tahoma;
  background:var(--white);
  box-shadow:0 4px 15px #888888;
  color:var(--darkcyan);
}
header a{
  font-size:19;
  color:var(--black);
}

.color-box{
  padding:15px;
  background:black;
  box-shadow:0 0 3px #131313,
             0 0 4px #222222;
  color:var(--white);
  text-align:center;
}
.color-box,
button{
  margin:10px;
}


/*_______________________________*/
.displaynone{
  display:none;
}
.displayblock{
  display:block;
}
/*_______________________________*/

@media(max-width:360px){
  .section{
    height:85vh;
  }
}
